<footer class="w-full p-4">
  <div class="flex flex-col justify-center items-center text-center">
    <p class="text-sm">&copy; 2025 Simon Stögerer. All rights reserved.</p>

    <div class="flex flex-row justify-center items-center gap-4 mt-2">
      <app-link href="https://github.com/simstoe" target="_blank" class="relative text-sm">GitHub</app-link>
      <app-link href="https://linkedin.com/in/simstoe" target="_blank" class="relative text-sm">LinkedIn</app-link>
      <app-link href="/#/imprint" class="relative text-sm">Imprint</app-link>
    </div>
  </div>
</footer>